﻿@model IEnumerable<Syndicata.Models.AssembleGeneral>

@{
    ViewBag.Title = "Gestion des assemblés générals";
}


<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Gestion des assemblés générals</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Copropriete.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAssemble)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Copropriete.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAssemble)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            @Html.ActionLink("Créer une nouvelle assemble", "Create", null, new { @class = "btn btn-danger float-right" })
        </p>
    </div>

</div>
