﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-bottom-1-em {
    margin-bottom: 1em;
}

.margin-right-0-5-em {
    margin-right: 0.5em;
}

.margin-bottom-15{
 margin-bottom: 15em;
}

.margin-5-em{
    margin: 5em;
}

#dropdownMenu {
    background-color: white;
    width: 500px;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
}