﻿
@{
    ViewBag.Title = "Index";
}


<section class="w3l-main-slider">
    <div class="companies20-content">
        <div class="companies-wrapper">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <div class="slider-info banner-view">
                        <div class="banner-info container">
                            <h3 class="banner-text">Syndic</h3>
                            <p>
                                Le syndic de copropriété se trouve quotidiennement confronté à des problèmes ardus
                                relatifs à la gestion de la copropriété. Pour faire face à ces problèmes, il est appelé à disposer de connaissances dans divers domaines.
                            </p>
                            <a href="about.html" class="btn btn-primary btn-style">Explore Plus</a>
                            <a href="contact.html" class="btn transparent-btn btn-style ml-2">Contacter Nous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="home-services py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="title-big">Nos Services</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <h4><a href="#url">Syndic</a></h4>
                    <p>
                        Vous recherchez une société de syndic professionnel pour gérer en toute transparence
                        votre copropriété et faciliter la vie des copropriétaires ?...
                    </p>
                    <a href="#read" class="read">En Savoir Plus</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <h4><a href="#url">Conciergerie Residentielle</a></h4>
                    <p>
                        Première conciergerie résidentielle au Maroc au service exclusif
                        des copropriétaires et des promoteurs immobiliers…
                    </p>
                    <a href="#read" class="read">En Savoir Plus</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <h4><a href="#url">Gestion Locative</a></h4>
                    <p>
                        Confiez-nous la gestion locative de votre bien,
                        et déchargez-vous de toutes les contraintes liées à sa location…
                    </p>
                    <a href="#read" class="read">En Savoir Plus</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <h4><a href="#url">Facility Management</a></h4>
                    <p>
                        SYNDICATA propose une offre sur-mesure qui couvre la totalité des prestations nécessaire
                        à la gestion et au bon fonctionnement de votre copropriété…
                    </p>
                    <a href="#read" class="read">En Savoir Plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-testimonials">
    <div class="testimonials py-5">
        <div class="container py-lg-3">
            <h3 class="title-big">POURQUOI FAIRE APPEL A SYNDICATA ?</h3>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme text-center ">
                        <div class="item">
                            <div class="slider-info banner-view mt-lg-4 mt-3">
                                <div class="slider-img-info">
                                    <h3>Disponibilité</h3>
                                    <div class="message">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                                        accusantium officia quod quasi Harum error
                                        quibusdam tenetur.
                                    </div>
                                    <a href="#url" class="btn btn-style btn-primary mt-4">En Savoir Plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info banner-view banner-top1 mt-lg-4 mt-3">
                                <div class="slider-img-info">
                                    <h3>Compétence</h3>
                                    <div class="message">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                                        accusantium officia quod quasi Harum error
                                        quibusdam tenetur.
                                    </div>
                                    <a href="#url" class="btn btn-style btn-primary mt-4">En Savoir Plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info banner-view banner-top2 mt-lg-4 mt-3">
                                <div class="slider-img-info">
                                    <h3>Transparence</h3>
                                    <div class="message">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                                        accusantium officia quod quasi Harum error
                                        quibusdam tenetur.
                                    </div>
                                    <a href="#url" class="btn btn-style btn-primary mt-4">En Savoir Plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info banner-view banner-top3 mt-lg-4 mt-3">
                                <div class="slider-img-info">
                                    <h3>Contrat sur-mesure</h3>
                                    <div class="message">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                                        accusantium officia quod quasi Harum error
                                        quibusdam tenetur.
                                    </div>
                                    <a href="#url" class="btn btn-style btn-primary mt-4">En Savoir Plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


