﻿
@{
    ViewBag.Title = "Loi";
}


<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title">Loi 18.00</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Accueil</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Loi</li>
        </ul>
    </div>
</section>

<section class="content-with-photo-16 py-5">
    <!-- /content-with-photo-16 -->
    <div class="content-with-photo-16-main py-lg-5 py-sm-4">
        <center>
            <div class="container">
                <center>
                    <div class="row">
                        <div class="col-lg-6 column">
                            <div class="content-with-photo-16-inf">
                                <h3>Loi n° 18-00 : </h3>
                                <p><embed src="~/Loi_n_18-00_relative.pdf" width="1200px" height="800px" /></p>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </center>
    </div>
</section>