﻿@model Syndicata.Models.Copropriete

@{
    ViewBag.Title = "Details";
 
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Details de la copropriété : @Model.Nom</h2>

    <div>
        <h4>Copropriete</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tresorerie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tresorerie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnneConstruction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnneConstruction)
            </dd>


            <dt>
                Nombre d'appartements habitable:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Appartements.Count)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Syndic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Syndic.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SyndicAdjoint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SyndicAdjoint.FullName)
            </dd>

        </dl>
    </div>

    <br />
    <div>
        <h4>Liste des appartements de la copropriete : @Model.Nom </h4>
        <table class="table">
            <tr>
                <th>
                    Numero de l'appartement :
                </th>
                <th>
                    Surface :
                </th>
                <th>
                    Etage :
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Appartements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroAppartement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surface)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etage)
                    </td>
                    <td>
                        @Html.ActionLink("Voir plus de details", "Details", "Appartements", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>

        <br />
        <h4>Liste des assembles generale de la copropriete : @Model.Nom </h4>
        <table class="table">
            <tr>

                <th>
                    Assemble generale n°
                </th>

                <th>
                    Motif
                </th>

                <th>
                    Date de l'assemble generale
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.AssembleGenerals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Motif)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAssemble)
                    </td>
                    <td>
                        @Html.ActionLink("voir plus de Details", "Details", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>

        <br />
        <div>
            <h4>Liste des commandes passés pour la copropriete @Model.Nom </h4>
            <table class="table">
                <tr>
                    <th>
                        Description :
                    </th>
                    <th>
                        Montant :
                    </th>
                    <th>
                        Date de la commande :
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Commandes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Montant)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCommande)
                        </td>
                        <td>
                            @Html.ActionLink("Voir plus de details", "Details", "Commandes", new { id = item.Id }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div>
            <p>
                @Html.ActionLink("Modifier le copropriété", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger float-right" })
                @Html.ActionLink("Retourner a la liste des copropriétés", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
            </p>
        </div>

    </div>

