﻿@model Syndicata.Models.Commande

@{
    ViewBag.Title = "Details de commande";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Details de commande</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Copropriete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Copropriete.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Syndic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Syndic.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Montant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Montant)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCommande)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCommande)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
    <div>
        <p>
            @Html.ActionLink("Modifier la commande", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger float-right" })
            @Html.ActionLink("Retourner a la liste des commandes", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
        </p>
    </div>

</div>

