﻿@model IEnumerable<Syndicata.Models.Commande>

@{
    ViewBag.Title = "Gestion des commandes";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Gestion des commandes : </h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Copropriete.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Syndic.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCommande)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Copropriete.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Syndic.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Montant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCommande)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            @Html.ActionLink("Creer une nouvelle commande", "Create", null, new { @class = "btn btn-danger float-right" })
        </p>
    </div>

</div>