﻿@model IEnumerable<Syndicata.Models.Appartement>

@{
    ViewBag.Title = "Index";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Gestion des appartements</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Propritaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroAppartement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Propritaire.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residence.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroAppartement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surface)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etage)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    
    <div>
        <p>
            @Html.ActionLink("Créer une nouvelle appartement ", "Create", null, new { @class = "btn btn-danger float-right" })
        </p>
    </div>

</div>