﻿@model Syndicata.Models.Person

@{
    ViewBag.Title = "Delete";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Supprimer l'utilisateur</h2>
    <h3 class="margin-bottom-1-em">Êtes-vous sûr de vouloir le supprimer?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Civilite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Civilite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateNaissance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> 
        <div>
            <p>
                @Html.ActionLink("Retourner a la liste des appartements", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
            </p>
        </div>

    </div>       
        }
    </div>
    </div>